# Projeto Equals Visual Studio
/Equals API/.vs/*
/Equals API/packages/*

# Projeto Equals Biblioteca Camadas
/Equals API/Camadas/bin/*
/Equals API/Camadas/obj*

# Projeto Equals Web APi
/Equals API/Equals/bin/*